<template>
  <div id="app" class="components-layout-demo-basic">
    <a-layout>
      <a-layout-header>Car booking service</a-layout-header>
      <a-layout-content>
        <router-view ref="view"></router-view>
      </a-layout-content>
      <a-layout-footer>Footer</a-layout-footer>
    </a-layout>
  </div>
</template>

<script>
export default {
  created(){
    this.setCurrentUser()
  },
  methods: {
    setCurrentUser(){
      return this.$store.dispatch("loadSession").then((resp)=>{
        if (this.$store.getters.current_user.status == "unverified"){
          this.$router.push({ name: 'signup_verify'})
        }
      }).catch((resp)=>{
        if (!this.$route.name != 'login' && !this.$route.name != 'signup'){
          this.$router.push({ name: 'login'})
        }
      })

    },
  }
}
</script>

<style>
  .components-layout-demo-basic {
    text-align: center;
  }
  .components-layout-demo-basic .ant-layout-header,
  .components-layout-demo-basic .ant-layout-footer {
    background: #7dbcea;
    color: #fff;
  }
  .components-layout-demo-basic .ant-layout-footer {
    line-height: 1.5;
  }
  .components-layout-demo-basic .ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
  }
  .components-layout-demo-basic .ant-layout-content {
    background: #ccc;
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }
  .components-layout-demo-basic > .ant-layout {
    margin-bottom: 48px;
  }
  .components-layout-demo-basic > .ant-layout:last-child {
    margin: 0;
  }
</style>
