<template>
    <div>
        <div>
            Select your dates to start booking process
        </div>
        <div>
            <a-range-picker
                    @change="onChange"
                    :ranges="{ 'This week': [nearestDay, nearestDay.add(7, 'days')], 'This Month': [nearestDay, nearestDay.endOf('month')] }"
                    :showTime="{ defaultValue: moment('00:00:00', 'HH:mm') }"
                    :disabledDate="disabledDate"
                    format="YYYY-MM-DD HH:mm"
            />
            <a-button type="primary" @click="makeSearch" :disabled="!dates.starts_at">Search</a-button>
        </div>
        <div class="results">
            <div v-if="searching">
                Started search..
            </div>
            <div v-else class="search-finished">
                <table v-if="search_clicked">
                    <tr v-for="car in cars">
                        <td>{{car.number}} at {{car.car_location.name}}</td>
                        <td>Params: {"doors": {{car.doors}}, "price": {{car.price}}, "seats": {{car.seats}}}</td>
                        <td>total: {{days() * car.price}}</td>
                        <td>
                            <a-button type="primary" @click="chooseCar(car)">Choose this car</a-button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
  import moment from 'moment'
  export default {
    name: "booking",
    data(){
      return {
        dates: {starts_at: null, ends_at: null},
        searching: false,
        search_clicked: false,
        cars: []
      }
    },
    methods: {
      moment,

      // preparing data before search
      onChange(date, dateString) {
        this.dates.starts_at = date[0].unix()
        this.dates.ends_at   = date[1].unix()
      },
      disabledDate(current) {
        // Can not select days before today and today
        return current && current < moment().endOf('day');
      },
      makeSearch(){
        this.searching = true
        this.search_clicked = true

        let params = {
          filter: { dates: this.dates }
        };
        this.$http.post("/cars/search",params).then((resp)=>{
            this.cars = resp.body
            this.searching = false
        }).catch((resp)=>{
          alert("Some error occurred on the server")
          console.error(resp)
        })
      },
      days(){
        if(!this.dates.starts_at) return 0;
        if(!this.dates.ends_at) return 0;

        let day_seconds = 60*60*24*1.0;
        let seconds = this.dates.ends_at - this.dates.starts_at

        let diff = seconds/day_seconds
        return Math.ceil(diff)
      },
      chooseCar(car){
        // Do not book car logic as it's a test task:)
        this.$http.post("/bookings", {booking:{
          car_id: car.id,
          starts_at: this.dates.starts_at,
          ends_at: this.dates.ends_at
        }}).then((resp)=>{
          this.$store.dispatch("booking", resp.body)
          this.$router.push({ name: 'payment', params: {id: resp.body.token}})
        }).catch((resp)=>{
          alert("Some error occurred on the server")
          console.error(resp)
        })
      }
    },
    computed: {
      nearestDay(){
        return moment().add(1, 'days')
      }
    }
  }
</script>

<style scoped>

</style>