<template>
    <a-form @submit="handleSubmit" :form="form">
        <a-form-item label='Email' :labelCol="{ span: 5 }" :wrapperCol="{ span: 12 }">
            <a-input v-decorator="[ 'email', {rules: [{ required: true, message: 'Set Email' }]} ]"/>
        </a-form-item>
        <a-form-item label='Password' :labelCol="{ span: 5 }" :wrapperCol="{ span: 12 }">
            <a-input v-decorator="[ 'password', {rules: [{ required: true, message: 'Set Password' }]} ]"/>
        </a-form-item>
        <a-form-item :wrapperCol="{ span: 12, offset: 5 }">
            <a-button type='primary' htmlType='submit'>
                Submit
            </a-button>
            <router-link :to="{ name: 'signup'}">Or Signup</router-link>
        </a-form-item>
    </a-form>
</template>

<script>
  export default {
    name: "login",
    data (){
      return {
        form: this.$form.createForm(this),
      }
    },
    methods: {
      handleSubmit(e){
        e.preventDefault();

        this.form.validateFieldsAndScroll((err, values) => {
          if (!err) {
            this.$store.dispatch("login", values).then(()=>{
              this.$router.push({ name: 'root'})
            })
          }
        });
      }
    }
  }
</script>

<style scoped>

</style>