<template>
    <div>
        <div v-if="loading">
            Loading....
        </div>
        <div v-else>
            Your booking: {{booking.starts_at}}-{{booking.ends_at}}<br>
            It is {{booking.days}} days and costs {{booking.total}}.
            <div v-if="booking.status=='unpaid'">
                You didn't pay yet. Choose payment way:
                <ul>
                    <li v-for="method in booking.payment_methods">
                        <a-button type="primary" @click="pay(method)">{{method.name}}</a-button>
                    </li>
                </ul>
            </div>
            <div v-else>
                All paid. Thank you
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "payment",
    data (){
      return {
        payment_methods: [],
        loading: true
      }
    },
    created(){
      this.loadBooking()
    },
    methods: {
      pay(method){
        this.loading = true
        this.$http.patch(`/bookings/${this.$route.params.id}/pay`,{payment:{id: method.id}}).then(()=>{
          if (method.redirect_url) window.location = method.redirect_url
          else this.loadBooking()
        }).catch(()=>{
          alert("We were unable to process your payment. Please try later.")
        })
      },
      loadBooking(){
        this.$store.dispatch("loadBooking", this.$route.params.id).then((resp)=>{
          console.log("loaded booking")
          this.loading = false
        }).catch(()=>{
          alert("we didn't find this booking")
        })
      }
    },
    computed: {
      booking(){
        return this.$store.getters.booking
      }
    }
  }
</script>

<style scoped>

</style>