<template>
    <a-form @submit="handleSubmit" :form="form">
        <a-form-item label='First name' :labelCol="{ span: 5 }" :wrapperCol="{ span: 12 }">
            <a-input v-decorator="[ 'first_name', {rules: [{ required: true, message: 'Set First name' }]} ]"/>
        </a-form-item>
        <a-form-item label='Last name' :labelCol="{ span: 5 }" :wrapperCol="{ span: 12 }">
            <a-input v-decorator="[ 'last_name', {rules: [{ required: true, message: 'Set Last name' }]} ]"/>
        </a-form-item>
        <a-form-item label='Email' :labelCol="{ span: 5 }" :wrapperCol="{ span: 12 }">
            <a-input v-decorator="[ 'email', {rules: [{ required: true, message: 'Set Email' }]} ]"/>
        </a-form-item>
        <a-form-item label='Password' :labelCol="{ span: 5 }" :wrapperCol="{ span: 12 }">
            <a-input v-decorator="[ 'password', {rules: [{ required: true, message: 'Set Password' }]} ]"/>
        </a-form-item>
        <a-form-item :wrapperCol="{ span: 12, offset: 5 }">
            <a-button type='primary' htmlType='submit'>
                Submit
            </a-button>
            <router-link :to="{ name: 'login'}">Or Login</router-link>
        </a-form-item>
    </a-form>
</template>

<script>
  import Vue from 'vue'
  export default {
    name: "signup",
    data (){
      return {
        form: this.$form.createForm(this),
      }
    },
    methods: {
      handleSubmit(e){
        e.preventDefault();

        this.form.validateFieldsAndScroll((err, values) => {
          if (!err) {
            this.$store.dispatch("signup", values).then(()=>{
              this.$router.push({ name: 'signup_verify'})
            })
          }
        });
      }
    }
  }
</script>

<style scoped>

</style>