<template>
    <div>
        <span v-if="isVerified">
            Thanks. You're all set.
            <router-link :to="{name: 'root'}">
                Click here to go to booking
            </router-link>
        </span>
        <span v-else>
            User is unverified.
            <a :href="link">Please click here to verify user</a>
        </span>
    </div>
</template>

<script>
  export default {
    name: "signup_upload_data",
    computed: {
      user (){
        return this.$store.getters.current_user
      },
      isVerified(){
        return this.user.status == "verified"
      },
      link(){
        if (this.user.veriff_data && this.user.veriff_data.url){
          return this.user.veriff_data.url
        }else{
            this.$http.get("/user/verification").then((resp)=>{
              this.$store.commit("LOGIN", resp.body)
            }).catch(()=>{
              alert("Error occured. Try later")
            })
          return "adasda"
        }
      }
    }
  }
</script>
